* {
  margin: 0;
  padding: 0;  
}

body {
  color: #ffffff;
  background-color: #232323;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: monospace;
}

.jumbotron {
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60%;
  max-width: 50rem;
  height: 50%;
  margin: auto;
}